extends layout

block content
    .jumbotron
        form(action='/commands', method='post', id='formb')
          button.btn.btn-space.btn-danger(type='submit', name="action", form='formb', value='reboot') reboot


