extends layout

block content
  .panel.panel-default
    .panel-heading Direct Commands
    .panel-body
        form(action='/commands', method='post', id='formb')
          button.btn.btn-danger(type='submit', name="action", form='formb', value='block') block


