extends layout

block content
  .panel.panel-default
    .panel-heading Device Selection
    .panel-body

      form(action='/device', method='post', id='forma')
          fieldset
            .form-group.row
              .col-sm-3
                label selected device
                input.form-control(type='text', name='devID', placeholder=deviceId) 
                                         
        
