extends layout

block content
  .panel.panel-default
    .panel-heading Device Selection
    .panel-body
      form(action='/', method='post', id='forma')
          fieldset
            .form-group.row
              .col-sm-3
                input.form-control(type='text', name='devID', placeholder='device identity') 
              .col-sm-9
                input.form-control(type='text', name='cs', placeholder='connection string') 
                                         
        button.btn.btn-primary(type='submit', name="action", form='forma', value='register') connect
        
