extends layout

block content
    .jumbotron
      .form-group
        .col-sm-6
            .input-group
                span#sizing-addon2.input-group-addon last reboot 
                input.form-control(type='text', placeholder=lastRebootTime)
        .col-sm-6
            .input-group
                span#sizing-addon2.input-group-addon location
                input.form-control(type='text', placeholder=location)
        br
        .col-sm-6
            .input-group
                span#sizing-addon2.input-group-addon connectivity
                input.form-control(type='text', placeholder=connType)
        .col-sm-6
            .input-group
                span#sizing-addon2.input-group-addon FW version
                input.form-control(type='text', placeholder=version)

